{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": false,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["**/*.json"],
      "options": {
        "useTabs": false
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
